# Linting and code formatting
autopep8
black
isort
pep8-naming
pycodestyle
flake8
autoflake

# Ruff
ruff

# Django
Django
django-debug-toolbar
django-environ

# Images
Pillow

# Interactive shell
ipython

# PostgreSQL database adapter
psycopg2